.happy-child {
    display:grid;
    min-width: 100vw;
    background: url(../../assets/happy-child.jpg) no-repeat center;
    background-size: cover;
    padding:0;

    &-text {
        height: 90vh;
        margin-left:12vw;

        & h1 {
            color:#633576;
            font-size: 9.5rem;
            font-weight:bold;
            margin-top:25vh;
        }

        & p {
            font-size: 3.5rem;
            width: 50%;
            margin-top:1vh;
        }

        .button {
            color:white;
            font-size:3rem;
            width:11vw;
            height:8vh;
            background-color:#fc731b;
            margin-top:1vh;
            cursor:pointer;
            border:0;
            margin-top:1vw;
            transition: transform 1s ease-in-out;
        }
    }
}