.icon-detail {
    width: 100vw;
    padding: 0;
    margin: 0;

    &-text {
        width: 80%;
        margin-left:10vw;

        h1 {
            font-size: 4rem;
            font-weight: bolder;  
        }

        p {
            font-size: 1.5rem;
            width: 70%;
            line-height: 1.2;
            margin-top:2vh;
        }

        h4 {
            color: #633576;
            font-size: 2.5rem;
            font-weight: 600;
            margin-top: 2vh;
        }
    }

    .icon-detail-icons {
        max-width: 50%;

        &-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2vw;
            width: 100%;
            padding: 6vw;
            margin-top: 2vh;
        }

        &-grid::before,&grid::after {
            display: none;
        }
    }
    
    .icon-wrapper {
        max-width: 50%;
        width: 15vw;

        .icon {
            height: auto;
            border: 2px solid #b082c4;
            border-radius: 50%;
            padding: 1.2vw;
            margin-right: 2vw;
        }
        
        .icon-text {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            margin-top: 1vh;
        }

        &:hover {
            .icon {
                transform: translateY(-5px);
            }
        }
    }

    @media (max-width: 768px) {
        &-text {
            margin-top: 1vh;
            text-align: center;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.2rem;
                width: 100%;
            }

            h4 {
                font-size: 1.8rem;
            }
        }

        .icon-detail-icons {
            &-grid {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 4vw;
                margin-left: 15vw;
            }
        }

        .icon-wrapper {
            width: 35vw;

            .icon {
                padding: 2vw;
            }

            .icon-text {
                font-size: 1rem;
            }
        }
    }
}