.icon-detail::after, .icon-detail:before {
    display: none;
}

.icon-detail {
    display: flex;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100vw;
    height: auto;
    padding:0;
    margin:0;

    .row {
        width:100%;
        display: flex;
        flex-wrap: nowrap;
    }

    &-text {
        max-width: 40vw;
        margin: 20vh 0 20vh 20vw;

        h1 {
            font-size: 3.5rem;
            font-weight: bolder;  
        }

        p {
            font-size: 1.5rem;
            width: 60%;
            line-height: 1.2;
            margin-top:2vh;
        }

        h4 {
            color: #633576;
            font-size: 2.5rem;
            font-weight: 600;
            margin-top: 2vh;
        }
    }

    .icon-detail-icons {
        max-width: 30vw;
        margin: 15vh 20vw 0 0;

        &-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0.2vw;
            max-width: 40vw;
            place-items: center;
        }

        &-grid::before,&grid::after {
            display: none;
        }
    }
    
    .icon-wrapper {
        max-width: 40%;
        width: 10vw;

        .icon {
            border: 2px solid #b082c4;
            border-radius: 50%;
            padding: 0.8vw;
        }
        
        .icon-text {
            width:100%;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 600;
            margin-top: 1vh;
            margin-left: 1.2vw;
        }

        &:hover {
            .icon {
                transform: translateY(-5px);
            }
        }
    }

    @media (max-width: 768px) {
        .row {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &-text {
            max-width: 80%;
            margin: 5vh auto;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.2rem;
                width: 100%;
            }

            h4 {
                font-size: 1.8rem;
            }
        }

        .icon-detail-icons {
            max-width: 90%;
            margin: 1vh 35vw 1vh 0;

            &-grid {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 4vw;
                margin: auto;
            }
        }

        .icon-wrapper {
            width: 35vw;

            .icon {
                padding: 2vw;
            }

            .icon-text {
                width:100%;
                font-size: 1rem;
            }
        }
    }
}