@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 100; }
}

.hero {
    background: url(../../assets/hero.jpg) no-repeat center;
    background-size: cover;
    min-width: 100vw;
    min-height: 50vw;
    padding: 0;

    .row {
        position: absolute;
        width:100vw;
    }

    &-rg-logo-white {
        position: absolute;
        left: 12vw;
        width: 20vw;
        top: 2.5vw;
        margin-bottom:20%;
    }

    &-row-text {
        display:grid;
        text-align: center;
        align-items: center;
        margin-top: 18%;
        animation-name: fade-in;
        animation: fade-in 2s;

        & h1 {
            font-size: 6vw;
            font-weight: bold;
        }

        & > .text-transparent {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: white;
            -webkit-text-stroke-width: 0.2vw;
        }

        & > .text-filled {
            color:white;
            background-color: transparent;
        }
            
        .hero-button {
            background-color: #ae60d4;
            color:white;
            font-size: 1.1vw;
            width: 11vw;
            height: 4vw;
            margin-top:2vw;
            place-self: center;
            border:0;
            cursor: pointer;
        }
    }

}