.sunrise {
    min-width: 100vw;
    padding:0;

    &-col-text {
        background-color: white;
        color:#633576;
        max-width: 35vw;
        margin: 8vw 0vw 0vw 15vw;
        padding:0;

        & h1 {
            color:#633576;
            font-size:3rem;
            font-weight:bold;
        }
        & p {
            color:black;
            font-size:2rem;
            width: 80%;
            margin-top:1vw;
        }

        & h4 {
            font-size: 3rem;
            color:#633576;
            font-weight:600;
            margin-top: 1vw;
        }
    }
    &-col-image {

        .hikers-sunrise {
            background-size: cover;
            width:100%;
            height:auto;
        }
    }
}