.carousel-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
}

.carousel-button {
    background: none;
    border: none;
    color: #633576;
    font-size: 4rem;
    cursor: pointer;
    position: relative;
}

.carousel-content {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    position: relative;

    & h1 {
        color: #633576;
        font-size: 2rem;
        font-weight: bolder;
        margin-top: 9vh;
    }

    & p {
        color: black;
        font-size: 1.5rem;
        margin-top: 4vh;
        margin-bottom: 5vh;
    }

    .carousel-item {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .carousel-item.active {
        opacity: 1;
    }
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    grid-column: span 3;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
}

.carousel-indicators span {
    height: 1.2vh;
    width: 0.5vw;
    background: #ffeb94;
    border-radius: 50%;
    margin:0.5rem;
}

.carousel-indicators .selected {
    background: #ffc718;
}