@keyframes ripple-effect {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }

.mother-and-child {
    display:grid;
    min-width: 100vw;
    background: url(../../assets/mother-and-child.jpg) no-repeat center;
    background-size: cover;
    padding:0;

    &-text {
        height:60vh;
        margin: 11vw 0vw 0vw 24vw;

        & h1 {
            color:#633576;
            font-size: 5rem;
            font-weight:bold;
        }

        .button {
            color:white;
            font-size:2.8rem;
            width:11vw;
            height:6vh;
            background-color:#fc731b;
            margin-top:1vw;
            cursor:pointer;
            border:0;
            margin-top:1vw;
            transition: transform 1s ease-in-out;
        }
    }
}